[submodule "NPRG054-High-Performance-Software"]
	path = NPRG054-High-Performance-Software
	url = git@github.com:tomiskat/NPRG054-High-Performance-Software.git
[submodule "NSWI098-Compilers"]
	path = NSWI098-Compilers
	url = git@github.com:tomiskat/NSWI098-Compilers.git
[submodule "NPFL129-Machine-Learning"]
	path = NPFL129-Machine-Learning
	url = git@github.com:tomiskat/NPFL129-Machine-Learning.git
[submodule "NPFL138-Deeep-Learning"]
	path = NPFL138-Deeep-Learning
	url = git@github.com:tomiskat/NPFL138-Deeep-Learning.git
[submodule "NPRG041-CPP-Task1"]
	path = NPRG041-CPP-Task1
	url = git@github.com:tomiskat/NPRG041-CPP-Task1.git
